SECRET_KEY=change-me-in-production
DATABASE_URL=sqlite:///kingsmaly.db
APP_BASE_URL=http://localhost:5000

PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co

GWN_CLOUD_BASE_URL=https://www.gwn.cloud
GWN_APP_ID=
GWN_SECRET_KEY=
GWN_NETWORK_ID=
GWN_PORTAL_AUTH_URL=

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
